<%- include("header", { title: "To-Do List" }); %>
  <h1><%= typeOfList %></h1>
  <h2>Today is: <%= dayToday %></h2>
  <% if (kindOfDay === "Saturday" || kindOfDay === "Sunday") { %>
    <h3 style="color: green;">It’s the weekend! (<%= kindOfDay %>)</h3>
  <% } else { %>
    <h3 style="color: purple;">It’s a weekday! (<%= kindOfDay %>)</h3>
  <% } %>
  
  <ul>
    <% for(let i = 0; i < myItems.length; i++) { %>
      <li><%= myItems[i] %></li>
    <% } %>
  </ul>

  <form action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item">
    <button type="submit">Add</button>
    <input type="hidden" name="list" value="<%= typeOfList %>">
  </form>
  <%- include("footer", { year: year }); %>
